<html>
  <head></head>
    <body>
      <h1>link_toはaタグを出力する単なるメソッドです</h1>
      <%= link_to('Google', 'https://google.com') %>
    </body>
</html>
get '/learn-link-to' do
  erb :learn_link_to
end

def link_to(text, url)
  "<a href=#{url}>#{text}</a>"
end